In [ ]:
import pandas as pd
import numpy as np

In [54]:
df.head()

    Total
0   94.60
1  157.00
2  229.42
3  167.00
4  103.00

In [53]:
df = pd.read_excel("C:/Users/rmbrm/Documents/Contract projects/Adam's project/TVSC normative data.xlsx", usecols="BP")

In [55]:
df.columns = ['raw']

In [56]:
df.head()

      raw
0   94.60
1  157.00
2  229.42
3  167.00
4  103.00

In [57]:
from scipy.stats import zscore

In [58]:
df['z'] = zscore(df['raw'], axis=0)

In [59]:
df.head()

      raw         z
0   94.60 -1.289329
1  157.00 -0.902459
2  229.42 -0.453467
3  167.00 -0.840461
4  103.00 -1.237250

In [60]:
df.describe()

               raw             z
count   649.000000  6.490000e+02
mean    302.561834  2.141755e-16
std     161.419085  1.000771e+00
min      52.000000 -1.553441e+00
25%     191.790000 -6.867668e-01
50%     251.600000 -3.159548e-01
75%     378.000000  4.677040e-01
max    1074.000000  4.782788e+00

In [61]:
df['z_sample'] = zscore(df['raw'], axis=0, ddof=1)

In [62]:
df.head()

      raw         z  z_sample
0   94.60 -1.289329 -1.288335
1  157.00 -0.902459 -0.901763
2  229.42 -0.453467 -0.453118
3  167.00 -0.840461 -0.839813
4  103.00 -1.237250 -1.236296

In [63]:
df['t'] = (df['z_sample'] * 10) + 50

In [64]:
df.head()

      raw         z  z_sample          t
0   94.60 -1.289329 -1.288335  37.116651
1  157.00 -0.902459 -0.901763  40.982365
2  229.42 -0.453467 -0.453118  45.468824
3  167.00 -0.840461 -0.839813  41.601871
4  103.00 -1.237250 -1.236296  37.637036

In [65]:
df.describe()

               raw             z      z_sample           t
count   649.000000  6.490000e+02  6.490000e+02  649.000000
mean    302.561834  2.141755e-16 -2.538630e-16   50.000000
std     161.419085  1.000771e+00  1.000000e+00   10.000000
min      52.000000 -1.553441e+00 -1.552244e+00   34.477558
25%     191.790000 -6.867668e-01 -6.862375e-01   43.137625
50%     251.600000 -3.159548e-01 -3.157113e-01   46.842887
75%     378.000000  4.677040e-01  4.673435e-01   54.673435
max    1074.000000  4.782788e+00  4.779101e+00   97.791014

In [68]:
df_final = df.sort_values(by=['raw'])

In [69]:
df_final.head()

       raw         z  z_sample          t
86   52.00 -1.553441 -1.552244  34.477558
39   76.00 -1.404645 -1.403563  35.964371
65   76.39 -1.402228 -1.401147  35.988532
104  82.20 -1.366206 -1.365154  36.348465
18   83.90 -1.355667 -1.354622  36.453781

In [71]:
df_final.to_excel("C:/Users/rmbrm/Documents/Contract projects/Adam's project/score_table.xlsx", index=False)